.movies {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 70px;
}

.movies__error {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 100px 30px 200px;
  color: #3456F3;
}

@media screen and (max-width: 900px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .movies {
    padding: 0 10px;
  }

  .movies__error {
    margin: 50px 14px 70px;
  }
}