.portfolio {
  max-width: 1140px;
  margin: 0 auto 125px;
}

.portfolio__title {
  margin: 0;
  color: #A0A0A0;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 400;
}

.portfolio__links {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
}

.portfolio__link-container {
  border-bottom: 1px solid #E8E8E8;
  padding: 20px 0 19px;
  display: flex;
  justify-content: space-between;
}

.portfolio__link-container:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__link {
  text-decoration: none;
  color: black;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
}

.portfolio__arrow-accent {
  min-height: 16px;
  max-width: 29px;
  margin: 5px 7px 0;
}
