.navigation {
  margin: auto 0;
  display: flex;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  color: black;
}

.navigation__link_unlogged {
  font-size: 12px;
  line-height: 1.33;
  margin-right: 30px;
}

.navigation__link_unlogged:last-child {
  margin-right: 0;
  background: #2BE080;
  border-radius: 3px;
  padding: 8px 20px;
}

.navigation__link_loggedin {
  margin-right: 20px;
  font-size: 14px;
  line-height: 18px;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link-main {
  display: none;
}

.navigation__account-button {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 6px 10px;
  border: 2px solid #AAAAAA;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.navigation__account-icon {
  background-image: url(../../images/account_icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 14px;
  margin-right: 7px;
}

.navigation__popup-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
  }

  .navigation {
    display: none;
  }

  .navigation__popup_open {
    width: 68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    z-index: 2;
    background: white;
  }

  .navigation__popup-button {
    display: flex;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
  }

  .navigation__popup-button_burger {
    background-image: url(../../images/menu_button.svg);
    width: 44px;
    height: 44px;
  }
  
  .navigation__popup-button_close {
    background-image: url(../../images/close_button.svg);
    width: 22px;
    height: 22px;
    align-self: end;
    margin: 22px 22px 0;
  }

  .navigation__link_loggedin {
    margin: 0 0 28px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }

  .navigation__link_active {
    margin-bottom: 22px;
    padding-bottom: 7px;
    border-bottom: 2px solid black;
  }

  .navigation__link-main {
    display: flex;
    margin-top: 105px;
  }

  .navigation__account-button {
    margin: 0;
    position: absolute;
    bottom: 90px;
  }
}

@media screen and (max-width: 425px) {
  .navigation__link_unlogged {
    font-size: 10px;
    line-height: 1.6;
    margin-right: 14px;
  }

  .navigation__link_unlogged:last-child {
    padding: 5px 12px;
  }

  .navigation__popup_open {
    width: 100%;
  }

  .navigation__popup-button_burger {
    width: 40px;
    height: 43px;
  }
  
  .navigation__popup-button_close {
    margin: 13px 13px 0;
  }

  .navigation__link_loggedin {
    margin-bottom: 24px;
  }

  .navigation__link_active {
    margin-bottom: 15px;
  }

  .navigation__link-main {
    margin-top: 99px;
  }

  .navigation__account-button {
    bottom: 46px;
  }
}