.header {
  max-width: 1140px;
  min-height: 38px;
  margin: 0 auto;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .header {
    padding: 18px 14px;
  }
}