.footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

.footer__title {
  margin: 0;
  padding: 79px 0 20px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid #E8E8E8;
  color: #A0A0A0;
}

.footer__container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 13px;
  line-height: 16px;
}

.footer__copyright {
  margin: 0;
}

.footer__links {
  width: 263px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 0 10px;
  }
  
  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__container {
    min-height: 114px;
    margin: 30px auto 10px;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    margin: 0;
    color: #A0A0A0;
  }

  .footer__links {
    min-height: 69px;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
}