.about-me {
  max-width: 1140px;
  margin: 0 auto;
  padding: 110px 50px 100px;
}

.about-me__title {
  margin: 0 0 66px;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -0.04em;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about-me__name {
  margin: 0;
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.about-me__info {
  margin: 18px 0 26px;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
}

.about-me__description {
  max-width: 600px;
  margin: 0 60px 0 0;
  font-size: 14px;
  line-height: 1.57;
}

.about-me__social-networks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
}

.about-me__social-network {
  margin-right: 20px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.about-me__photo {
  max-height: 327px;
  max-width: 270px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 1;
  }

  .about-me__info {
    margin: 16px 0 20px;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__description {
    margin-right: 40px;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .about-me__photo {
    max-height: 307px;
    max-width: 255px;
  }
}


@media screen and (max-width: 622px) {
  .about-me__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-me__photo {
    margin-bottom: 40px;
  }

  .about-me__description {
    margin: 0 0 58px 0;
  }
}

@media screen and (max-width: 425px) {
  .about-me {
    padding: 70px 14px 69px;
  }
  
  .about-me__title {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
  }
  
  .about-me__info {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }
  
  .about-me__description {
    font-size: 11px;
    line-height: 1.45;
  }
  
  .about-me__social-network {
    margin-right: 26px;
  }
  
  .about-me__photo {
    max-height: 352px;
    max-width: 292px;
  }
}

@media screen and (max-width: 300px) {
  .about-me__photo {
    max-height: 240px;
  }
}